<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{145,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,162}}</string>
        <key>sourceSize</key>
        <string>{145,162}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{125,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,143}}</string>
        <key>sourceSize</key>
        <string>{125,143}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{128,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,142}}</string>
        <key>sourceSize</key>
        <string>{128,142}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,125},{139,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,141}}</string>
        <key>sourceSize</key>
        <string>{139,141}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{139,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,128},{132,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,137}}</string>
        <key>sourceSize</key>
        <string>{132,137}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,260},{124,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,126}}</string>
        <key>sourceSize</key>
        <string>{124,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>sprite_atlas.png</string>
      <key>size</key>
      <string>{447,384}</string>
      <key>textureFileName</key>
      <string>sprite_atlas</string>
    </dict>
  </dict>
</plist>
